In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os

from shapely.geometry import LineString

In [2]:
root_dir = "D:/github/Ranch"

In [3]:
routing_df = gpd.read_file(os.path.join(root_dir, 'tests', 'scratch', 'test_routing_v4.geojson'))
routing_df.rename(columns = {'source':'routing_method'}, inplace = True)

stop_times_df = pd.read_csv(os.path.join(root_dir, 'data', 'external', 'gtfs', '2015', 'sjrtd_2015_0127', 'stop_times.txt'),
                           dtype = {'trip_id':object})
stops_df = pd.read_csv(os.path.join(root_dir, 'data', 'external', 'gtfs', '2015', 'sjrtd_2015_0127', 'stops.txt'))
routes_df = pd.read_csv(os.path.join(root_dir, 'data','external', 'gtfs', '2015', 'sjrtd_2015_0127', 'routes.txt'))
trips_df = pd.read_csv(os.path.join(root_dir, 'data','external', 'gtfs', '2015', 'sjrtd_2015_0127', 'trips.txt'),
                           dtype = {'trip_id':object, 'shape_id':object})
shapes_df = pd.read_csv(os.path.join(root_dir, 'data','external', 'gtfs', '2015', 'sjrtd_2015_0127', 'shapes.txt'),
                           dtype = {'shape_id':object})

In [4]:
stops_df

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station
0,1,7014,SJ CNTY HOSPITAL,NaN,37.886477,-121.281061,NaN,NaN,NaN,NaN
1,7,3073,EL DORADO ST & HOSPITAL RD FS/NB,NaN,37.885836,-121.276424,NaN,NaN,NaN,NaN
2,8,3074,EL DORADO & FRENCH CAMP NS/NB,EL DORADO ST & FRENCH CAMP RD,37.889235,-121.276482,NaN,NaN,NaN,NaN
3,9,3075,EL DORADO @ 5544 EL DORADO MB/NB,EL DORADO ST & 5544 EL DORADO ST,37.897444,-121.275762,NaN,NaN,NaN,NaN
4,10,3076,EL DORADO @ WESTERN LUMBER MB/NB,EL DORADO ST & WESTERN LUMBER,37.905215,-121.275695,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1032,3366,4249,BRYANT DR & LOTT ST FS WB,NaN,38.026970,-121.265799,NaN,NaN,NaN,NaN
1033,3367,4251,ROYAL OAK DR & ROYAL PARK DR FS WB,NaN,38.036840,-121.330443,NaN,NaN,NaN,NaN
1034,3368,4252,ROYAL OAK DR & LOWER SAC RD FS WB,NaN,38.036880,-121.322829,NaN,NaN,NaN,NaN
1035,3369,4250,FILBERT ST & MINER AVE FS SB,E MINER AVE,37.962856,-121.254997,NaN,NaN,NaN,NaN
1036,3370,7953,EAST ST & GRANT LINE RD NS NB,NaN,37.754096,-121.421200,NaN,NaN,NaN,NaN

In [5]:
routing_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 29341 entries, 0 to 29340
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   u                29341 non-null  int64
 1   v                29341 non-null  int64
 2   agency_raw_name  29341 non-null  object
 3   shape_id         29341 non-null  object
 4   trip_id          29341 non-null  object
 5   shstReferenceId  29341 non-null  object
 6   shstGeometryId   29341 non-null  object
 7   agency_shape_id  29341 non-null  object
 8   method           29341 non-null  object
 9   geometry         29341 non-null  geometry
dtypes: geometry(1), int64(2), object(7)
memory usage: 2.2+ MB

In [6]:
routing_df[routing_df.trip_id == '202224']

,u,v,agency_raw_name,shape_id,trip_id,shstReferenceId,shstGeometryId,agency_shape_id,method,geometry
11532,90959474,4941465454,sjrtd_2015_0127,26188,202224,16c0c31804358f2c443c853054c103c2,97ce10a41f40dd4fd020e4d61eca94de,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.28114 37.88625, -121.28116 37..."
11535,4941465454,90959407,sjrtd_2015_0127,26188,202224,134d88595ce2063adb0e76828b8ef0d4,5c3b0626638098c667e3e00c5bbe7d40,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.28116 37.88618, -121.28118 37..."
11538,90959407,3959883467,sjrtd_2015_0127,26188,202224,18ae62535c1cef615f477d40d5ded90e,49dd8f76ba6143282a5b603e535f4605,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.28118 37.88613, -121.28109 37..."
11541,3959883467,4941465474,sjrtd_2015_0127,26188,202224,c7860a8220c85e98671d16b3cf12a175,ee78e3d887ae6f8e3f2364c328e893e1,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.28040 37.88577, -121.28015 37..."
11544,4941465474,90970336,sjrtd_2015_0127,26188,202224,d4b92e4f13240f76ca03b7df2a008450,922b612b8154277882c66761407c74e4,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.28024 37.88326, -121.28032 37..."
...,...,...,...,...,...,...,...,...,...,...
11934,4942763947,90879562,sjrtd_2015_0127,26188,202224,03fb611967c9f6967bbb3172e65361c7,57437b25b47e0ff17daf47c6d785af1f,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.29408 38.01082, -121.29410 38..."
11937,90879562,4886125621,sjrtd_2015_0127,26188,202224,8cba76d032382bc918175fd1aa264f2a,af4a55e6e0fc4fd809d527c04fd34de2,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.29410 38.01095, -121.29427 38..."
11940,4886125621,90923989,sjrtd_2015_0127,26188,202224,edcffbde148406e9d0e6ee0826cca087,23e30e49ca59f010bac94d561e825ccf,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.29449 38.01259, -121.29460 38..."
11943,90923989,5971947724,sjrtd_2015_0127,26188,202224,81f3d176689ed5cec7bf45190cf6e42c,c3f0b18e994decd13b7d95947e0bf276,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.29492 38.01656, -121.29474 38..."
11946,5971947724,90923977,sjrtd_2015_0127,26188,202224,dda02d2571350abb072878fc14aee9a0,4f618220350bcbaea2a27a065b3f530d,sjrtd_2015_0127_26188,shortest path,"LINESTRING (-121.29682 38.01657, -121.29669 38..."

In [7]:
trips_df[trips_df.trip_id.isin(['202220', '202224', '202229', '202233', '202237', '202242', '202805', '202804',
 '202807', '202810', '202811', '202813' ,'202815' ,'202816', '202819' ,'202820',
 '202894', '202903', '202906', '202908', '202911' ,'202918' ,'202920' ,'202923'])]

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
1003,5903,4,202220,521-CALIFORNIA-WEST LANE-KAISER,0,24632,26188
1007,5903,4,202224,521-CALIFORNIA-WEST LANE-KAISER,0,24632,26188
1012,5903,4,202229,521-CALIFORNIA-WEST LANE-KAISER,0,24633,26188
1015,5903,4,202233,522-CALIFORNIA-MANTHEY-HONOR FARM,1,24633,26190
1019,5903,4,202237,522-CALIFORNIA-MANTHEY-HONOR FARM,1,24633,26190
1024,5903,4,202242,522-CALIFORNIA-MANTHEY-HONOR FARM,1,24632,26190
1319,5925,4,202805,NaN,0,24539,26277
1321,5925,4,202807,NaN,0,24538,26276
1323,5925,4,202804,NaN,0,24542,26276
1326,5925,4,202810,NaN,0,24616,26274
1327,5925,4,202811,NaN,0,24616,26275
1328,5925,4,202820,NaN,1,24544,26278
1329,5925,4,202813,NaN,1,24540,26278
1331,5925,4,202815,NaN,1,24542,26278
1332,5925,4,202816,NaN,1,24543,26278
1335,5925,4,202819,NaN,1,24616,26279
1381,5931,4,202903,511-SJ COUNTY HOSPITAL-MALLS,0,24581,26330
1386,5931,4,202906,511-SJ COUNTY HOSPITAL-MALLS,0,24615,26330
1391,5931,4,202894,511-SJ COUNTY HOSPITAL-MALLS,0,24600,26330
1395,5931,4,202908,515-SJ COUNTY HOSPITAL-WESTON RANCH,0,24600,26329
1397,5931,4,202923,512-AMTRAK STATION-SJ COUNTY HOSPITAL,1,24577,26333
1401,5931,4,202911,512-AMTRAK STATION-SJ COUNTY HOSPITAL,1,24577,26333
1406,5931,4,202918,512-AMTRAK STATION-SJ COUNTY HOSPITAL,1,24614,26333
1409,5931,4,202920,512-AMTRAK STATION-SJ COUNTY HOSPITAL,1,24600,26332

In [8]:
[c for c in ['202220', '202224', '202229', '202233', '202237', '202242', '202805', '202804',
 '202807', '202810', '202811', '202813' ,'202815' ,'202816', '202819' ,'202820',
 '202894', '202903', '202906', '202908', '202911' ,'202918' ,'202920' ,'202923'] if c not in routing_df.trip_id.astype(str)]

['202220',
 '202224',
 '202229',
 '202233',
 '202237',
 '202242',
 '202805',
 '202804',
 '202807',
 '202810',
 '202811',
 '202813',
 '202815',
 '202816',
 '202819',
 '202820',
 '202894',
 '202903',
 '202906',
 '202908',
 '202911',
 '202918',
 '202920',
 '202923']

In [9]:
trips_df = pd.merge(
    trips_df,
    routes_df[['route_id', 'route_short_name', 'route_long_name']],
    how = 'left',
    on = ['route_id']
)

In [10]:
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1450 entries, 0 to 1449
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   route_id          1450 non-null   int64
 1   service_id        1450 non-null   int64
 2   trip_id           1450 non-null   object
 3   trip_headsign     1291 non-null   object
 4   direction_id      1450 non-null   int64
 5   block_id          1450 non-null   int64
 6   shape_id          1450 non-null   object
 7   route_short_name  1450 non-null   int64
 8   route_long_name   1450 non-null   object
dtypes: int64(5), object(4)
memory usage: 113.3+ KB

In [11]:
routing_df = pd.merge(
    routing_df,
    trips_df[['trip_id', 'shape_id', 'route_id', 'direction_id', 'route_short_name', 'route_long_name']],
    how='left',
    on =['trip_id', 'shape_id']
)

routing_df['source'] = 'routing'

In [12]:
routing_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 29341 entries, 0 to 29340
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   u                 29341 non-null  int64
 1   v                 29341 non-null  int64
 2   agency_raw_name   29341 non-null  object
 3   shape_id          29341 non-null  object
 4   trip_id           29341 non-null  object
 5   shstReferenceId   29341 non-null  object
 6   shstGeometryId    29341 non-null  object
 7   agency_shape_id   29341 non-null  object
 8   method            29341 non-null  object
 9   geometry          29341 non-null  geometry
 10  route_id          29341 non-null  int64
 11  direction_id      29341 non-null  int64
 12  route_short_name  29341 non-null  int64
 13  route_long_name   29341 non-null  object
 14  source            29341 non-null  object
dtypes: geometry(1), int64(5), object(9)
memory usage: 3.6+ MB

In [13]:
trips_df = trips_df[trips_df.trip_id.isin(routing_df.trip_id.unique())]

In [14]:
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 252 entries, 505 to 1449
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   route_id          252 non-null    int64
 1   service_id        252 non-null    int64
 2   trip_id           252 non-null    object
 3   trip_headsign     210 non-null    object
 4   direction_id      252 non-null    int64
 5   block_id          252 non-null    int64
 6   shape_id          252 non-null    object
 7   route_short_name  252 non-null    int64
 8   route_long_name   252 non-null    object
dtypes: int64(5), object(4)
memory usage: 19.7+ KB

stop_times_df = pd.merge(
    stop_times_df,
    trips_df[['trip_id', 'shape_id', 'route_id', 'direction_id', 'route_short_name', 'route_long_name']],
    how='inner',
    on =['trip_id']
)

stop_times_df = pd.merge(
    stop_times_df,
    stops_df[['stop_id', 'stop_lat', 'stop_lon']],
    how='left',
    on =['stop_id']
)

In [15]:
stop_times_df = pd.merge(
    stop_times_df,
    stops_df[['stop_id', 'stop_lat', 'stop_lon']],
    how='left',
    on =['stop_id']
)

stop_times_gdf = gpd.GeoDataFrame(
    stop_times_df,
    geometry = gpd.points_from_xy(stop_times_df['stop_lon'], stop_times_df['stop_lat']),
    crs = routing_df.crs
)

stop_times_line_gdf = stop_times_gdf.sort_values(by=['stop_sequence']).groupby(['trip_id'])['geometry'].apply(
    lambda x: LineString(x.tolist())
)

stop_times_line_gdf = gpd.GeoDataFrame(stop_times_line_gdf, geometry = 'geometry')

stop_times_line_gdf = pd.merge(
    stop_times_line_gdf,
    trips_df[['trip_id', 'shape_id', 'route_id', 'direction_id', 'route_short_name', 'route_long_name']],
    how='inner',
    on =['trip_id']
)

stop_times_line_gdf['source'] = 'stop_times'

shapes_df = pd.merge(
    shapes_df,
    trips_df[['trip_id', 'shape_id', 'route_id', 'direction_id', 'route_short_name', 'route_long_name']],
    how = 'inner',
    on = ['shape_id']
)

In [16]:
shapes_gdf = gpd.GeoDataFrame(
    shapes_df,
    geometry = gpd.points_from_xy(shapes_df['shape_pt_lon'], shapes_df['shape_pt_lat']),
    crs = routing_df.crs
)

shapes_line_gdf = shapes_gdf.sort_values(by=['shape_pt_sequence']).groupby(['shape_id'])['geometry'].apply(
    lambda x: LineString(x.tolist())
)

shapes_line_gdf = gpd.GeoDataFrame(shapes_line_gdf, geometry = 'geometry')

shapes_line_gdf = pd.merge(
    shapes_line_gdf,
    trips_df[['trip_id', 'shape_id', 'route_id', 'direction_id', 'route_short_name', 'route_long_name']],
    how = 'inner',
    on = ['shape_id']
)

shapes_line_gdf['source'] ='shapes'

In [17]:
print(routing_df.columns)
print(stop_times_line_gdf.columns)
print(shapes_line_gdf.columns)

Index(['u', 'v', 'agency_raw_name', 'shape_id', 'trip_id', 'shstReferenceId',
       'shstGeometryId', 'agency_shape_id', 'method', 'geometry', 'route_id',
       'direction_id', 'route_short_name', 'route_long_name', 'source'],
      dtype='object')
Index(['trip_id', 'geometry', 'shape_id', 'route_id', 'direction_id',
       'route_short_name', 'route_long_name', 'source'],
      dtype='object')
Index(['shape_id', 'geometry', 'trip_id', 'route_id', 'direction_id',
       'route_short_name', 'route_long_name', 'source'],
      dtype='object')

In [18]:
routing_df.trip_id.nunique()

252

In [19]:
stop_times_line_gdf.trip_id.nunique()

252

In [20]:
shapes_line_gdf.trip_id.nunique()

252

In [21]:
shapes_line_gdf.shape_id.nunique()

120

In [22]:
routing_df.shape_id.nunique()

120

In [23]:
out_df = pd.concat(
    [routing_df, stop_times_line_gdf, shapes_line_gdf],
    sort = False,
    ignore_index = True
)

In [24]:
out_df.to_file(os.path.join(root_dir, 'data', 'interim', 'routing-reivew.geojson'), driver = 'GeoJSON')